<div class="container">

        <h1>Final Fantasy XIII<br>Calculateur d'expérience</h1>

        <div class="card">

                <h2>Type</h2>

                <label>
                        <input type="radio" [(ngModel)]="typeSelection" (ngModelChange)="onTypeChange($event)" value="arme">
                        Armes
                </label>

                <label>
                        <input type="radio" [(ngModel)]="typeSelection" (ngModelChange)="onTypeChange($event)" value="accessoire">
                        Accessoires
                </label>

        </div>

        <!-- SECTION ARME -->

        @if (typeSelection === 'arme') {

        <div class="card">

                @if (data$ | async; as data) {

                <label>Personnage</label>
                <select [(ngModel)]="personnageSelectionne" (change)="onPersonnageChange()">
                        <option [value]="undefined">-- choisir --</option>
                        @for (p of personnages; track p) {
                        <option [value]="p">{{p}}</option>
                        }
                </select>

                <label>Arme</label>
                <select [(ngModel)]="armeSelectionnee" (ngModelChange)="onArmeChange($event)">
                        <option [ngValue]="null">-- choisir --</option>
                        @for (arme of armesParPersonnage[personnageSelectionne ?? ''] ?? []; track arme.identifiant) {
                        <option [ngValue]="arme">{{arme.nom}}</option>
                        }
                </select>

                <label>Niveau actuel</label>
                <input type="number" [(ngModel)]="niveauActuel" (change)="onNiveauActuelArmeChange()"
                        (input)="onNiveauActuelArmeInput($event)" min="1" max="arme.niveauMax" step="1">

                <label>Niveau cible (max : {{ armeSelectionnee$.value?.niveauMax }})</label>
                <input type="number" [(ngModel)]="niveauCible" (input)="onNiveauCibleArmeInput($event)" min="1"
                        max="arme.niveauMax" step="1">

                @if (armeSelectionnee$.value != null) {
                <label>Force au niveau actuel : {{ forceNiveauActuel }}</label>

                <label>Magie au niveau actuel : {{ magieNiveauActuel }}</label>

                <label>Expérience requise au niveau actuel : {{ experienceNiveauActuel }}</label>

                <label>Catalyste : {{ armeSelectionnee$.value.catalyste }}</label>

                @if (armeSelectionnee$.value.prixAchat != 0) {
                <label>Boutique : {{ armeSelectionnee$.value.acquisition }} ({{ armeSelectionnee$.value.prixAchat }}
                        gils)</label>
                }
                }
                }
        </div>
        }

        <!-- SECTION ACCESSOIRE -->

        @if (typeSelection === 'accessoire') {

        <div class="card">
                @if (data$ | async; as data) {

                <label>Accessoire</label>

                <select [(ngModel)]="accessoireSelectionne" (ngModelChange)="onAccessoireChange($event)">
                        <option [ngValue]="null">-- choisir --</option>
                        @for (accessoire of data.accessoires; track accessoire.identifiant) {
                        <option [ngValue]="accessoire">{{accessoire.nom}}</option>
                        }
                </select>

                <label>Niveau actuel</label>
                <input type="number" [(ngModel)]="niveauActuel" (change)="onNiveauActuelAccessoireChange()"
                        (input)="onNiveauActuelAccessoireInput($event)" min="1" max="accessoire.niveauMax" step="1">

                <label>Niveau cible (max : {{ accessoireSelectionne$.value?.niveauMax }})</label>
                <input type="number" [(ngModel)]="niveauCible" (input)="onNiveauCibleAccessoireInput($event)" min="1"
                        max="accessoire.niveauMax" step="1">
                
                @if (accessoireSelectionne$.value != null) {
                <label>Propriété au niveau actuel : {{ accessoireProprieteNiveauActuel }}</label>

                <label>Expérience requise au niveau actuel : {{ experienceNiveauActuel }}</label>

                <label>Catalyste : {{ accessoireSelectionne$.value.catalyste }}</label>

                @if (accessoireSelectionne$.value.prixAchat != 0) {
                <label>Boutique : {{ accessoireSelectionne$.value.acquisition }} ({{ accessoireSelectionne$.value.prixAchat }}
                        gils)</label>
                }
                }
                }
        </div>
        }

        @if (resultatCalcul$ | async; as resultat) {
        <div class="card result">

                <h2>Résultat</h2>

                <p>Expérience nécessaire pour passer du niveau {{ niveauActuel }} à {{ niveauCible }} : {{
                        resultat.xpNecessaire }}</p>

                <p>
                        Bonus x3 : {{ resultat.multiplicateurNombre }} {{ resultat.multiplicateurMateriau }} - coût : {{
                        resultat.multiplicateurCout }} gils - expérience : {{ resultat.multiplicateurXp}}
                </p>

                <p>
                        Matériau optimal : {{ resultat.materiauNombre }} {{ resultat.materiauOptimal }} - coût : {{
                        resultat.materiauCout }} gils
                </p>

                <p>
                        <strong>Coût total : {{ resultat.coutTotal }} gils</strong>
                </p>

        </div>
        }

</div>