<div class="page" [style.background-image]="'url(assets/images/background.png)'">
<div class="ff-panel">

        <h1 class="title">Final Fantasy XIII Calculateur d'expérience</h1>
        <p>
                Cet outil permet de calculer l'expérience nécessaire et les matériaux optimaux
                pour améliorer vos armes et accessoires dans Final Fantasy XIII.
        </p>

        <div class="form-grid">

                <label>Type</label>
                <div class="radio-group">
                <label>
                        <input type="radio" [(ngModel)]="typeSelection" (ngModelChange)="onTypeChange($event)" value="arme">
                        Armes
                </label>

                <label>
                        <input type="radio" [(ngModel)]="typeSelection" (ngModelChange)="onTypeChange($event)" value="accessoire">
                        Accessoires
                </label>
                </div>
        </div>

        <!-- SECTION ARME -->

        @if (typeSelection === 'arme') {

        <div class="form-grid">

                @if (data$ | async; as data) {

                <label>Personnage</label>
                <select [(ngModel)]="personnageSelectionne" (change)="onPersonnageChange()">
                        <option [value]="undefined">-- choisir --</option>
                        @for (p of personnages; track p) {
                        <option [value]="p">{{p}}</option>
                        }
                </select>

                <label>Arme</label>
                <select [(ngModel)]="armeSelectionnee" (ngModelChange)="onArmeChange($event)">
                        <option [ngValue]="null">-- choisir --</option>
                        @for (arme of armesParPersonnage[personnageSelectionne ?? ''] ?? []; track arme.identifiant) {
                        <option [ngValue]="arme">{{arme.nom}}</option>
                        }
                </select>

                <label>Niveau actuel</label>
                <input type="number" [(ngModel)]="niveauActuel" (change)="onNiveauActuelArmeChange()"
                        (input)="onNiveauActuelArmeInput($event)" min="1" max="arme.niveauMax" step="1">

                <label>Niveau cible (max : {{ armeSelectionnee$.value?.niveauMax }})</label>
                <input type="number" [(ngModel)]="niveauCible" (input)="onNiveauCibleArmeInput($event)" min="1"
                        max="arme.niveauMax" step="1">
                <div class="stats-panel">
                @if (armeSelectionnee$.value != null) {
                <span>Force au niveau actuel</span>
                <span>{{ forceNiveauActuel }}</span>

                <span>Magie au niveau actuel</span>
                <span>{{ magieNiveauActuel }}</span>

                <span>Expérience requise au niveau actuel</span>
                <span>{{ experienceNiveauActuel }}</span>

                @if (armeSelectionnee$.value?.catalyste?.trim()) {
                <span>Catalyste</span>
                <span>{{ armeSelectionnee$.value.catalyste }}</span>
                }

                @if (armeSelectionnee$.value.prixAchat != 0) {
                <span>Boutique</span>
                <span>{{ armeSelectionnee$.value.acquisition }} ({{ armeSelectionnee$.value.prixAchat }} gils)</span>
                }
                }
                </div>
                }
        </div>
        }

        <!-- SECTION ACCESSOIRE -->

        @if (typeSelection === 'accessoire') {

        <div class="form-grid">
                @if (data$ | async; as data) {

                <label>Accessoire</label>

                <select [(ngModel)]="accessoireSelectionne" (ngModelChange)="onAccessoireChange($event)">
                        <option [ngValue]="null">-- choisir --</option>
                        @for (accessoire of data.accessoires; track accessoire.identifiant) {
                        <option [ngValue]="accessoire">{{accessoire.nom}}</option>
                        }
                </select>

                <label>Niveau actuel</label>
                <input type="number" [(ngModel)]="niveauActuel" (change)="onNiveauActuelAccessoireChange()"
                        (input)="onNiveauActuelAccessoireInput($event)" min="1" max="accessoire.niveauMax" step="1">

                <label>Niveau cible (max : {{ accessoireSelectionne$.value?.niveauMax }})</label>
                <input type="number" [(ngModel)]="niveauCible" (input)="onNiveauCibleAccessoireInput($event)" min="1"
                        max="accessoire.niveauMax" step="1">
                
                <div class="stats-panel">
                @if (accessoireSelectionne$.value != null) {
                <span>Propriété au niveau actuel</span>
                <span>{{ accessoireProprieteNiveauActuel }}</span>

                <span>Expérience requise au niveau actuel</span>
                <span>{{ experienceNiveauActuel }}</span>

                @if (accessoireSelectionne$.value?.catalyste?.trim()) {
                <span>Catalyste</span>
                <span>{{ accessoireSelectionne$.value.catalyste }}</span>
                }

                @if (accessoireSelectionne$.value.prixAchat != 0) {
                <span>Boutique</span>
                <span>{{ accessoireSelectionne$.value.acquisition }} ({{ accessoireSelectionne$.value.prixAchat }} gils)</span>
                }
                }
                </div>
                }
        </div>
        }

        @if (resultatCalcul$ | async; as resultat) {
                @if (resultat) {
        <div class="result-panel">

                <h2>Résultat</h2>

                <p>Expérience nécessaire pour passer du niveau {{ niveauActuel }} à {{ niveauCible }} : {{
                        resultat.xpNecessaire }}</p>

                @if (resultat!.multiplicateurNombre > 0) {
                <p>
                        Bonus x3 : {{ resultat.multiplicateurMateriau }} x{{ resultat.multiplicateurNombre }} - coût : {{
                        resultat.multiplicateurCout }} gils - expérience : {{ resultat.multiplicateurXp}}
                </p>
                }
                <p>
                        Matériau optimal : {{ resultat.materiauOptimal }} x{{ resultat.materiauNombre }} - coût : {{
                        resultat.materiauCout }} gils
                </p>

                <p>
                        <strong>Coût total : {{ resultat.coutTotal }} gils</strong>
                </p>
        </div>
        }
}
</div>
</div>